/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

@font-face {
    font-family: "CocaCola";
    src: url("../fonts/Loki-Cola/Loki\ Cola.TTF");
  }
  

html,body{
/*background-image: url('../assets/backgroundFemsa.jpg');*/
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
padding-top: 10%;    
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgb(230, 230, 230) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: white;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: white;
margin-right: 5px;
padding-bottom: 5px;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: black;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #980122;
width: 100px;
margin-top: 10%;
margin-left: 35%;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

.logoKatalogo{
   font-family: "CocaCola", sans-serif;
   color: #980122 !important;
   font-size: 40px;
   text-align: center;
}

.btnVoltar{
  color: black !important;
  text-decoration: none;
}