body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pdf-viewer-container {
  /* Adicione estilos personalizados aqui para o contêiner do PDFViewer */
  /* Por exemplo, para remover qualquer estilo de sobreposição: */
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
